# Logs and databases #
######################
*.log
*.sql
*.sqlite3

# Settings folder for a django databases #
##########################################
settings.py

# private binatry folders#
##########################
__pycache__/